<div class="col-xl-12">
  <div class="row sameheight-container">
    <div class="card-header bordered">
      <% if current_team %>
        <h1 class="title"><%= current_team.name %></h1>
      <% end %>
    </div>
    <div class="member-list">
      <table class="col-md-9 col-md-offset-3 tble-bordered table-striped tablecondensed cf">
        <thead class="cf">
          <tr>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Email"><%= image_tag(@team.owner.avatar, class: 'round-image-16')%> <%= @team.owner.email %></td>
            <td>owner</td>
          </tr>
          <% @members.each do |m| %>
          <tr>
            <td data-title="Email"><%= image_tag(m.member.avatar, class: 'round-image-16')%> <%= m.member.email %></td>
            <td data-title="Name"> member</td>
          </tr>
          <% end %>
          <tr>
            <td>
              <%= render 'memberships/form' , locals: [@team, Membership.new]%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
