<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <%= image_tag(comment.user.avatar, class: 'round-image-16')%>
    </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->

  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= comment.user.name%></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at)%></span>
        <% if current_user == comment.user %>
          <%= link_to "", task_comment_path(comment.task, comment), :method => :delete, remote: true, class: "fa fa-times pull-right" %>
        <% end %>
      </div>
      <div class="panel-body">
        <%= comment.content %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div><!-- /row -->
