<div class="card-block">
  <nav class="navbar">
    <%= form_tag(project_task_path(task.project, task), :method => :put, class: "form-inline") do %>
    <%= select_tag :owner_id, options_from_collection_for_select(User.all, "id", "email"), class: 'form-control'%>
      <% end %>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "", project_task_path(@project, task), :method => :delete, class: "nav-link fa fa-trash "%>
      </li>
    </ul>
  </nav>
  <div class="row">
  </div>
  <hr>
  <%= task.name %>
  <hr>
  <div class="comments-wrapper">
    <div class="comments">
      <%= render "task_comments", task: task %>
    </div>
    <%= form_for [task, Comment.new], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :content, placeholder: "Add a comment", autocomplete: 'off', rows: 5, class: "form-control" %>
        <%= f.submit "Comment", class: "btn btn-success btn-circle" %>
      </div>
    <% end %>
    <hr>
    <div class="followers">
      <%= render "followers", task: task %>
    </div>
    <%= form_for [task, TaskFollower.new], remote: true, class: "form-group" do |f| %>
      <%= f.select :user_id, options_from_collection_for_select(User.all, "id", "email"), class: 'form-control' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
