
<h3><%= task.name %></h3>
<div class="card-block">
  <h5>Owner</h5>
  <div id="remote" >
    <input class="typeahead" id="owner_select"  type="text" placeholder="Type to find team members" value="<%= task.owner.name if task.owner %>">
  </div>

  <h5>Due Date</h5>
  <input type="text" class="datepicker tt-hint"  data-request-url="<%= project_task_deadline_path(task.project, task)%>" onchange="handleDueDateChange(this)" value="<%= task.due_date.to_date.to_s if task.due_date%>">
  <hr>
  <%= markdown(task.description) %>
  <hr>

  <div class="comments-wrapper">
    <div class="comments">
      <%= render "task_comments", comments: task.comments %>
    </div>

    <%= form_for [task, Comment.new], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :content, placeholder: "Comment", autocomplete: 'off', rows: 5, class: "form-control" %><br />
        <%= f.submit "Submit", class: "btn btn-primary btn-sm rounded-s" %>
      </div>
    <% end %>
    <hr>

    <div class="followers">
      <h5>Followers</h5>
      <%= render "followers", task: task %>
    </div>
    <% if current_team %>

      <div id="remote">
        <input class="typeahead" id="follower_select" type="text" placeholder="Add followers" style="padding:10px" value="<%= task.owner.name if task.owner %>">
      </div>
    <% end %>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input id="task_completed" data-request-url=<%=project_task_completed_path(task.project, task)%> onchange="handleChange(this);" class="form-check-input" type="checkbox" <%="checked" if task.isCompleted? %>>
      Mask as completed
    </label>
  </div>
  <%= link_to " Delete", project_task_path(@project, task), :method => :delete, class: "btn btn-danger btn-sm rounded-s"%>
</div>
<script>

var bestPictures = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace("name"),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch:
  {
    url: '/tasks/user_team.json' 
  }
});

$(".datepicker").datepicker({dateFormat: 'dd-mm-yy'});


$('#remote .typeahead').typeahead(null, {
  name: 'best-pictures',
  display: 'name',
  source: bestPictures
});

$('#owner_select').bind('typeahead:select', function(ev, suggestion) {
  console.log('Selection: ' + suggestion.email);

  url = '<%= project_task_owner_path(task.project, task)%>' + '.js';
  console.log('Post to url: ' + url);
  $.post(url, {
    owner_id: suggestion.id,
    project_id: <%= task.project.id %>,
    task_id: <%= task.id %>
}
);
  });
$('#follower_select').bind('typeahead:select', function(ev, suggestion) {
  console.log('Follower Selection: ' + suggestion.email);

  url = '<%= task_task_followers_path(task, TaskFollower.new)%>' + '.js';
  console.log('Post to url: ' + url);
  $.post(url, {
    user_id: suggestion.id,
    task_id: <%= task.id %>
}
);
  });
$('.chosen-select').chosen();
</script>
