<div class="card-block">
  <div class="form-check">
    <label class="form-check-label">
      <input id="task_completed" data-request-url=<%=project_task_completed_path(task.project, task)%> onchange="handleChange(this);" class="form-check-input" type="checkbox" <%="checked" if task.isCompleted? %>>

      Mask as completed
    </label>
  </div>
  <%= form_tag(project_task_owner_path(task.project, task), class: "form-inline", remote: true) do %>
    <%= select_tag :owner_id, options_from_collection_for_select(User.all, "id", "email", task.owner_id), :include_blank => true, class: 'form-input'%>
    <%= submit_tag "Assign"%>
  <% end %>
  <%= form_tag(project_task_deadline_path(task.project, task), class: "form-inline", remote: true) do %>
    <%= date_field :due_date, task.due_date ? time_ago_in_words(task.due_date) : nil, class: 'datepicker form-control'%>
    <%= submit_tag "Change due date" %>
  <% end %>
  <%= link_to "", project_task_path(@project, task), :method => :delete, class: "nav-link fa fa-trash "%>
  <div class="row">
  </div>
  <hr>

  <%= task.name %>
  <hr>
  <div class="comments-wrapper">
    <div class="comments">
      <%= render "task_comments", comments: task.comments %>
    </div>
    <%= form_for [task, Comment.new], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :content, placeholder: "Add a comment", autocomplete: 'off', rows: 5, class: "form-control" %>
        <%= f.submit "Comment", class: "btn btn-success btn-circle" %>
      </div>
    <% end %>
    <hr>
    <div class="followers">
      <%= render "followers", task: task %>
    </div>
    <%= form_for [task, TaskFollower.new], remote: true, class: "form-group" do |f| %>
      <%= f.select :user_id, options_from_collection_for_select(User.all, "id", "email"), class: 'form-control' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
