<div class="card-block">
  <p class="card-text"><%= task.name %></p>
  <div class="row">
  </div>
  <hr>
  <div class="comments-wrapper">
    <div class="comments">
      <%= render "task_comments", task: task %>
    </div>
    <%= form_for [task, Comment.new], remote: true do |f| %>
      <%= f.text_field :content, placeholder: "Add a comment", autocomplete: 'off' %>
      <%= f.submit %>
    <% end %>
    
    <div class="followers">
      <%= render "followers", task: task %>
    </div>
    <%= form_for [task, TaskFollower.new], remote: true do |f| %>
      <%= f.select :user_id, options_from_collection_for_select(User.all, "id", "email"), class: 'form-control' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
