<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="field">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<% if @tasks %>
  <div class="row placeholders">
    <div class="center-container col-md-6" >
      <%= render partial: "tasks", locals: {tasks: @tasks} %>
    </div>
    <div class="right-container col-md-6">
    </div>
  </div>

<% end %>
