<h1> <%= @project.name %> </h1>
<style media="screen">
#scrollcontent {
  height: 1000px;
}
#left {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}
#right {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}
</style>
<div id="scrollcontent" class="row">
    <div class="col-sm-12" id="left">
      <% @project.tasks.each do |task| %>
        <tr id=<%=task.id%> >
          <%= link_to task.name, project_task_path(@project, task), remote:true%>
        </tr>
      <% end %>
    </div>
    <div class="col-sm-12" id="right">
    </div>
</div>
<div class="row">
  <div class="center-container" id=<%= @project.id %> >
    <table class="table">
      <tbody class="tasks">
        <% @project.tasks.each do |task| %>
          <tr id=<%=task.id%> >
            <td><%= link_to task.name, project_task_path(@project, task), remote:true%></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="right-container">
  </div>
</div>
