<h1> <%= @project.name %> </h1>
<%= link_to "New task", new_project_task_path(@project), class: "btn btn-primary" %>


<div class="row placeholders">
  <div class="center-container col-md-6" id=<%= @project.id %> >
    <table class="table">
      <tbody class="tasks">
        <% @project.tasks.each do |task| %>
          <tr id=<%=task.id%> >
            <td><%= link_to task.name, project_task_path(@project, task), remote:true%></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="right-container col-md-6">
  </div>

</div>
