<h1> <%= @project.name %> </h1>

<%= link_to "New task", new_project_task_path(@project), class: "btn btn-primary" %>
<%= link_to "Blog", project_blogs_path(@project), class: "btn btn-secondary" %>

<hr>
<div class="row placeholders">
  <div class="center-container col-md-6" id=<%= @project.id %> >
    <%= render partial: "tasks/tasks", locals: {tasks: @project.tasks} %>
  </div>
  <div class="right-container col-md-6">
  </div>
</div>
