<h1> <%= @project.name %> </h1>
<style media="screen">
#scrollcontent {
  height: 1000px;
}
#left {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}
#right {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}
</style>
<div class="card-group">
    <!-- card -->
    <div class="card">
        <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Consise</h4>
            <p class="card-text">Cards are a good way to display content composed of different types of objects. They’re well-suited for presenting similar objects whose size or supported actions vary, like headings and photos with captions.</p>
        </div>
    </div>
    <!-- card -->
    <div class="card">
        <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample19.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Grouped</h4>
            <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code> for cards that aren’t attached to each another.</p>
        </div>
    </div>
</div>
<div id="scrollcontent" class="row">
    <div class="col-sm-12" id="left">
      <% @project.tasks.each do |task| %>
        <tr id=<%=task.id%> >
          <%= link_to task.name, project_task_path(@project, task), remote:true%>
        </tr>
      <% end %>
    </div>
    <div class="col-sm-12" id="right">
    </div>
</div>
<div class="row">
  <div class="center-container" id=<%= @project.id %> >
    <table class="table">
      <tbody class="tasks">
        <% @project.tasks.each do |task| %>
          <tr id=<%=task.id%> >
            <td><%= link_to task.name, project_task_path(@project, task), remote:true%></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="right-container">
  </div>
</div>

<script>$(function () {
  $('[data-toggle="popover"]').popover()
})</script>
