<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
	<button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>

	<% if user_signed_in? %>
		<a class="navbar-brand" href="#">Hello <%= current_user.name %></a>
		<div id="navbar">
			<nav class="nav navbar-nav">
				<a class="nav-item nav-link" href="#">Dashboard</a>
				<a class="nav-item nav-link" href="#">Activities</a>
				<a class="nav-item nav-link" href="#">Tasks</a>
				<span class="navbar-text text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="height:25px" src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png" />&nbsp;This is the first company message!</span>
			<div class="btn-group float-xs-right">
				<button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="fa fa-user"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<%= link_to 'Profile', "#", class: "dropdown-item" %>
					<a class="dropdown-item" href="#">Messages</a>
					<div class="dropdown-divider"></div>
					<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
				</div>
			</div>
			</nav>

		</div>
	<% else %>

		<ul class="nav navbar-nav">
			<%= li_link_to 'Log In', new_user_session_path, class: "nav-link" %>
			<%= li_link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
		</ul>

	<% end %>
</nav>
