<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SimpleP</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="https://image.freepik.com/free-icon/social-media-collaboration_318-32157.jpg">
  </head>

  <body>
    <!-- Sidebar Toggle -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
    <!-- End Sidebar Toggle -->

    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
          <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>

          <% if user_signed_in? %>
            <a class="navbar-brand" href="#">Hello <%= current_user.name %></a>
            <div id="navbar">
              <nav class="nav navbar-nav">
                <a class="nav-item nav-link" href="#">Dashboard</a>
                <a class="nav-item nav-link" href="#">Activities</a>
                <a class="nav-item nav-link" href="#">Tasks</a>
                <span class="navbar-text text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="height:25px" src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png" />&nbsp;This is the first company message!</span>
              <div class="btn-group float-xs-right">
                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-user"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to 'Profile', "#", class: "dropdown-item" %>
                  <a class="dropdown-item" href="#">Messages</a>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </div>
              </nav>

            </div>
          <% else %>
              <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
          <% end %>
        </nav>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id="wrapper" class="active">
        <%if user_signed_in? %>
          <div id = "sidebar-wrapper">
            <ul class="sidebar-nav" id="sidebar">
              <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu &nbsp;&nbsp;&nbsp; <span class="fa fa-align-justify"></span></a></li>
              <li><a href="<%= projects_path %>">Projects &nbsp;&nbsp;<span class="fa fa-product-hunt"></span></a></li>
              <li><a href="#">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="fa fa-users"></span></a></li>
              <li><a href="#">Reporting<span class="fa fa-bar-chart"></span></a></li>
            </ul>
          </div>
            <%= yield %>
          <%else %>
            <%= yield %>
          <%end%>
      </div>
    </div>
  </body>
</html>
