<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleP</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="https://image.freepik.com/free-icon/social-media-collaboration_318-32157.jpg">
  </head>

  <body>
    <!-- Sidebar Toggle -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
    <!-- End Sidebar Toggle -->

    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
          <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>

          <% if user_signed_in? %>
            <a class="navbar-brand" href="#">Hello</a>
            <div id="navbar">
              <nav class="nav navbar-nav float-xs-left">
                <a class="nav-item nav-link" href="#">My Tasks</a>
                <a class="nav-item nav-link" href="#">Notifications</a>
                <a class="nav-item nav-link" href="<%= projects_path %>">Project</a>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
                <a class="nav-item nav-link"><%= Date.today %></a>

              <img style="width:7%" src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png" alt="" />
              <form class="form-inline pull-right">
                <input type="text" class="form-control" placeholder="Search...">
              </form>
              <a class="nav-item nav-link fa fa-user fa-2x float-xs-right" href="#"></a>
              </nav>

            </div>
          <% else %>

            <ul class="nav navbar-nav pull-right">
              <li class="nav-item" ><%= link_to 'Log In', new_user_session_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
            </ul>
          <% end %>
        </nav>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id="wrapper" class="active">
        <%if user_signed_in? %>
          <div id = "sidebar-wrapper">
            <ul class="sidebar-nav" id="sidebar">
              <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; < ></a></li>
              <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Tasks</a></li>
            </ul>
          </div>

          <div class="col-sm-9 main">
            <%= yield %>
          </div>
          <%else %>
            <%= yield %>
            <%end%>
      </div>
    </div>
  </body>
</html>
