<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav class="navbar navbar-custom" role="navigation" id="mainNav">
      <div class="navbar-header">
        <%= link_to "<i class='glyphicon glyphicon-home'></i>&nbsp; Home".html_safe, root_path, class: "navbar-brand #{'active' if current_page?(root_path)}" %>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" id="bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li>
              <li><%= link_to "<i class='glyphicon glyphicon-book'></i>&nbsp; Dashboard".html_safe, dashboard_path, class: "#{'active' if current_page?(aboutus_path)}" %></li>
              <li><%= link_to "<i class='glyphicon glyphicon-send'></i>&nbsp; Contact Us".html_safe, contactus_path, class: "#{'active' if current_page?(contactus_path)}" %></li>
              <li><%= link_to "<i class='glyphicon glyphicon-apple'></i>&nbsp; About Us".html_safe, aboutus_path, class: "#{'active' if current_page?(aboutus_path)}" %></li>
              <li><%= link_to "<i class='glyphicon glyphicon-user'></i>&nbsp; Account".html_safe, aboutus_path, class: "#{'active' if current_page?(aboutus_path)}" %></li>
            </li>
          </ul>
        </div>
    </nav>
      <%= yield %>
      <%= render "home/footer" %>
  </body>
</html>
