<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleP</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="assets/logo.png">
    <link rel="stylesheet" href="/assets/comments.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="container-fluid">
        <div class="row">

          <nav id="topNav" class="navbar nav navbar-default bg-faded navbar-fixed-top">
            <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
            <div id="navbar">
              <ul class="nav navbar-nav">
                <a class="navbar-brand" href="/"><img src="/assets/logo.png" style="height:30px;"> Simple P</a>
                <a class="navbar-brand" href="/dashboard"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
                <a class="navbar-brand" href="/activities"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i></a>
                <a class="navbar-brand" href="/tasks"><i class="fa fa-tasks fa-lg" aria-hidden="true"></i></a>
                <div class="navbar-brand" >
                  <a href="/notifications" id="inbox-link"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
                  <%= new_feeds_icon(notification_count) %>
                </div>
                <a class="navbar-brand" href="/search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
                <div class="btn-group float-xs-right">
                  <li class="navbar-brand notifications new">
                                                  <a href="#" data-toggle="dropdown"><i class="fa fa-bell-o"></i><sup><span class="counter"><%= new_feeds_icon(notification_count) %></span></sup></a>
                                                  <div class="dropdown-menu dropdown-menu-left animated flipInX">
                                                      <ul class="notifications-container">
                                                        <%  @notifications.each do |notification| %>
                                                        <% if notification.activities.count > 0 %>
                                                          <li>
                                                              <a href="" class="notification-item">
                                                                  <div class="img-col">
                                                                      <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                                                                  </div>
                                                                  <div class="body-col">
                                                                      <p><%= renderNotification(notification) %></p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                      <% end %>
                                                    <% end %>

                                                          <li>
                                                              <a href="" class="notification-item">
                                                                  <div class="img-col">
                                                                      <div class="img" style="background-image: url('assets/faces/5.jpg')"></div>
                                                                  </div>
                                                                  <div class="body-col">
                                                                      <p> <span class="accent">Amaya Hatsumi</span> started new task: <span class="accent">Dashboard UI design.</span>. </p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="" class="notification-item">
                                                                  <div class="img-col">
                                                                      <div class="img" style="background-image: url('assets/faces/8.jpg')"></div>
                                                                  </div>
                                                                  <div class="body-col">
                                                                      <p> <span class="accent">Andy Nouman</span> deployed new version of <span class="accent">NodeJS REST Api V3</span> </p>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                      </ul>
                                                      <footer>
                                                          <ul>
                                                              <li> <a href="">
                      			            View All
                      			          </a> </li>
                                                          </ul>
                                                      </footer>
                                                  </div>
                                              </li>
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://avatars3.githubusercontent.com/u/3959008?v=3&s=30" alt=""> <%= current_user.name %>
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right animated flipInX">
                      <div style="display:flex;justify-content:center;align-items:center;"><%= image_tag(current_user.avatar, class: 'round-image')%></div><br />
                      <%= link_to "#", :class => 'dropdown-item' do %>
                        <i class="fa fa-user"></i> Profile
                      <% end %>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope"></i> Messages</a>
                    <div class="dropdown-divider"></div>
                    <% current_user.my_team.each do |team| %>
                      <%= link_to team.name, switch_path(:team_id => team.id), class: "dropdown-item" %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to destroy_user_session_path, :method=>'delete', :class => 'dropdown-item' do %>
                      <i class="fa fa-power-off"></i> Log out
                    <% end %>
                  </div>
              </ul>
                </div>
          </nav>
        </div>
            <%= flash_toastr %>
              <div id="wrapper" class="active">
                <div id = "sidebar-wrapper">
                  <ul class="sidebar-nav" id="sidebar">
                    <li class="sidebar-brand"><a id="menu-toggle" href="#">Simple P<span class="fa fa-align-justify"></span></a></li>
                    <li><%= link_to "Projects<i class='fa fa-product float-xs-right'></i>".html_safe, projects_path %></li>
                    <% if current_team %>
                    <li><%= link_to current_team.name, projects_path %></li>
                      <% current_team.projects.each do |project| %>
                        <li style="font-size:10px;"><a href="<%= project_path (project)%>" id="project_<%= project.id %>">- <%= project.name %></li>
                          <% end %>
                    <% else %>
                        <li><%= link_to "Project", projects_path %></li>
                    <% end %>

                    <li><a href="<%= teams_path %>" id="teams-bar">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                    <% if current_team %>
                      <% current_team.team_member.each do |member| %>
                        <%= image_tag(member.avatar, class: "round-image-16") %>
                      <% end %>
                    <% end %>
                    <li><a href="/reports">Report&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-bar-chart"></span></a></li>
                  </ul>
                </div>

                <div class="row">
                  <div class="col-sm-12" style="padding-top:65px;">
                    <%= yield %>
                  </div>
                </div>
                <% else %>
                  <%= yield %>
                <% end %>

              </div>
            </div>

        <%= render 'projects/dialog' %>
        <script>
          // Toggle the sidebar
          $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
          });

          $('#teams').on('click', function(){});
          setInterval(checkFeedsViaJS, 10000);
        </script>
  </body>
</html>
