<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SimpleP</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="https://image.freepik.com/free-icon/social-media-collaboration_318-32157.jpg">

	</head>

	<body>
		<%= render 'layouts/navbar' %>
		<%= bootstrap_flash_toastr %>
		<%= yield %>
		<%= render "layouts/footer" %>
	</body>
</html>
