<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>Simple P Project Management</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <%= flash_toastr %>
      <% content_for :sidebar do %>
        <%= render 'layouts/sidebar' %>
      <% end %>

      <section class="container" id="main">
          <%= yield(:sidebar) %>
          <%= yield %>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
      <% else %>
        <%= yield %>
      <% end %>
      </section>
  </body>
</html>
